* {
  padding: 0;
  margin: 0;
}
body.body-gray {
  background: #F2F0F2;
}
.footer {
  min-height: 100px;
}
.panel-left {

}
.header-top {
  padding: 5px 0;
  position: relative;
}
.header-items {
  display: flex;
}
.header-item {
  margin-left: 20px;
  align-self: center;
  position: relative;
}
.header-item:first-child {
  margin-left: 0;
}
.not-styles-link a {
  text-decoration: none;
  color: inherit;
}
.not-decoration-link {
  text-decoration: none;
}
.option-input {
   border: none;
   background: transparent;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   width: 50px;
   color: #0d6efd;
 }
.option-input:hover {
  text-decoration: underline;
}
.editable-field-input {
  display: none;
}
.select-date-timetable-view {
  border: none;
  color: #0d6efd;
  cursor: pointer;
}
.select-date-timetable-view:hover {
  text-decoration: underline;
}
.form-check-input-selected {
  padding-left: 2rem;
}
.info-message {
  /*display: none;*/
  color: #28a745;
  height: 20px;
  margin-bottom: 0;
}
.info-message.error {
  color: #dc3545;
}
.header-menu-content {
  position: absolute;
  top: 45px;
  left: 0;
  width: 200px;
  background: #fff;
  padding: 5px;
  z-index: 100;
}
.sign-up-user-link {
  color: inherit;
  text-decoration: none;
}
.sign-up-block {
  background: #fff;
  padding: 20px;
  margin-top: 20px;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.btn-change-date a {
  color: inherit;
  text-decoration: none;
}
.btn-change-date a:hover {
  color: #0d6efd;
}
.change-date-menu {
  position: absolute;
  top: 37px;
  left: -4px;
  background: #fff;
  padding: 5px;
  width: 200px;
  display: none;
  z-index: 100;
}
.change-date-menu li {
  list-style: none;
}
.header-item-right {
  margin-left: auto;
}
.header-calendar-day {
  width: 150px;
}
.select-date-input {
  width: 100px;
  border: none;
  background: transparent;
}
.select-date-input:focus-visible {
  border: none;;
}
.panel-datepicker .ui-datepicker {
  width: 15em;
}
.panel-block {
  margin-top: 1em;
}
.panel-block:first-child {
  margin-top: 0;
}
.select-default select {
  border-radius: 3px;
  border: 0;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  padding: 3px 6px;
  cursor: pointer;
  background: transparent;
}
.dynamic-arrow {
  position: relative;
  display: inline-block;
  padding-left: 10px;
}
.dynamic-arrow::before {
  content: url("/img/chevron-down.svg");
  position: absolute;
  left: 0;
  top: 6px;
  cursor: pointer;
}
.dynamic-arrow.active::before {
  content: url("/img/chevron-up.svg");
}
.emails-list {
  padding-left: 0;
}
.emails-list li {
  list-style: none;
}
.calendar-column {
  margin: 1em 0;
}
.calendar-column-header-text {
  padding: 0.25em 0.5em;
  display: inline-block;
  color: #fff;
}
.calendar-column-header-text a {
  color: #fff;
}
.calendar-column-body {
  min-height: 100px;
  background: #fff;
}
.column-line {
  display: flex;
  flex-direction: column;
  border: 1px solid #eee;
  /*padding: 0.5em 0.25em;*/
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 10px;
  /*min-height: 30px;*/
}
.column-line.time-half {
  border-bottom: 1px solid #ccc;
}
.column-calendar-block {
  /*align-self: center;*/
  padding-right: calc(var(--bs-gutter-x) * .05);
  padding-left: calc(var(--bs-gutter-x) * .05);
}
.column-calendar-block:first-child {
  padding-left: calc(var(--bs-gutter-x) * .5);
  background: #eee;
}
.column-calendar-block:last-child {
  padding-right: calc(var(--bs-gutter-x) * .5);
}
.column-calendar-time {
  font-style: italic;
  padding-left: 5px;
  font-size: 12px;
}
.calendar-column-body-item {
  padding: 0.25em;
  border: 1px solid #ddd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  z-index: 10;
  /*min-height: 30px;*/
  overflow: hidden;
  /*transition: 0.3s;*/
}
.calendar-column-body-item:hover {
  z-index: 100;
  /*transition: 0.3s;*/
}
.calendar-column-body-item:first-child {

}
.change-date-column {
    background: transparent;
    color: #fff;
    border: none
}
.temp-column {
  /*box-shadow: 2px 2px 5px #ccc, -2px -2px 5px #ccc;
  opacity: 0.8;*/
  background: rgba(0,0,0,0.1);
}
.change-date-column {

}
div.required:after {
  content: " *";
  color: red;
  position: absolute;
  top: 0;
  right: 20px;
}
.editable-field-text {
  min-width: 80px;
  min-height: 20px;
  display: inline-block;
}
#logs {
  width: 100%;
}
.col-phone-text {
  text-align: center;
  margin-top: 0.25em;
}
.timetable-item .modal-header {
  display: block;
}
.timetable-item .modal-footer {
  justify-content: flex-start;
}
.modal-header-email {
  display: flex;
}
.modal-form .form-control {
  border-top: none;
  border-left: none;
  border-right: none;
}
.input-style {
  position: relative;
  display: block;
  padding-left: 20px;
}
.input-persons {
  background: url(/img/chat-square-quote.svg) no-repeat;
  background-position: 0 50%;
}
.input-clock {
  background: url(/img/clock.svg) no-repeat;
  background-position: 0 50%;
}
.input-invite {
  background: url(/img/person-plus.svg) no-repeat;
  background-position: 0 50%;
}
.header-item-sign-up-mobile {
  display: none;
}
.infinity {
  display: block;
  position: absolute;
  bottom: 0.2em;
  right: 2em;

}
.repeat-group {
  display: none;
}
.column-line.time-half .column-calendar-time span {
  display: none;
}
.logs-table {
  display: none;
}
.logs-table td, .logs-table th {
  font-size: 0.8rem;
}
/*
BEGIN PRELOADER
*/
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #778149;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}
.loader-block {
  position: fixed;
  width: 120px;
  height: 120px;
  margin: auto;
  z-index: 1100;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.5;
  display: none;
}
.ui-datepicker {
  z-index: 2000 !important;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*
END PRELOADER
*/
@media (min-width:768px) {
  .modal-dialog {
    max-width: 700px;
  }
}

@media (max-width:575.98px) {
  .header-items {
    flex-direction: column;
  }
  .header-items {
    align-items: start;
  }
  .header-item {
    align-self: auto;
    margin-top: 1em;
  }
  .header-item:first-child {
    margin-top: 0;
  }
  .header-item-right {
    margin-left: 0;
  }
  .panel-datepicker .ui-datepicker {
    width: 100%;
  }
  .header-item {
    margin-left: 0;
  }
  .header-item-sign-up {
    display: none;
  }
  .header-item-sign-up-mobile {
    display: flex;
    align-self: flex-end;
    margin-top: -30px;
  }
}
@media (min-width: 576px) {
  .col-sm-1-5 {
    flex: 0 0 auto;
    width: 11.11111111%;
  }
}

